body {
    font-family: 'Ariel', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: #444;
}

header {
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.name {
    color: #444;
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 40px;
    margin: 0 auto;
    max-width: 960px;
}

h1 {
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.photo {
    flex: 0 0 200px;
    margin-right: 40px;
}

.photo img {
    width: 100%;
    border-radius: 50%;
}

.text {
    flex: 1;
    text-align: justify;
}

footer {
    padding: 20px;
    text-align: left;
    color: #555;
    font-size: 14px;
    max-width: 960px;
    margin: 0 auto;
}
